@import './variables';
@import './block';

html, body {
  margin: 0;
  height: 100%;

  font: 16px 'Roboto', Arial, sans-serif;
  background: $color-background;
}

div, span {
  @extend .block;
}

:global(#root) {
  height: 100%;
}
