.collection {
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  overflow: auto;

  padding: 0.4rem;

  &::after {
    content: '';
    flex-grow: 100;
  }
}

.item {
  flex-grow: 1;
  margin: 5px;
}

.itemFiltered {
  composes: item;

  display: none;
}
