@import '../styles/variables';

.outer {
  margin-top: $header-size;
  margin-bottom: $player-size;

  //flex: 1 1 auto;
  //overflow-x: hidden;
  //overflow-y: scroll;

  padding: 0.4rem;
}

.inner {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  touch-action: pan-y;

  &::after {
    content: '';
    flex-grow: 100;
  }
}

.item {
  flex: 1 1 auto;
  margin: 5px;
}

.itemFiltered {
  composes: item;

  display: none;
}
