@import '../styles/variables';

.input {
  composes: block from '../styles/base.scss';

  width: 100%;
  padding: 18px 20px;

  font: inherit;
  font-size: 1rem;

  outline: none;
  border-radius: 2px;
  background: darken($primary, 5%);

  transition: background 200ms ease;

  &::placeholder {
    color: lighten($primary, 30%);
    transition: color 200ms ease;
  }
}

.inputActive {
  composes: input;
}

.input:focus,
.inputActive {
  background: #fff;

  &::placeholder {
    color: darken(#fff, 35%);
  }
}
